<p>
  post-create works!
</p>

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm = "ngForm">
<mat-form-field>
    <input matInput
    type= "text"
    name="title"
    ngModel
    required
    minlength="3"
    placeholder="Clearable input" 
    [(ngModel)]="value"
    #title="ngModel">
    <mat-error *ngIf="title.invalid"> please enter a post title for akash anand</mat-error>
</mat-form-field>
<br margin=1rpx>
<mat-form-field>

<textarea
matInput
rows="4"
name="content"
ngModel
required
placeholder=""
#content="ngModel"></textarea>
<mat-error *ngIf="content.invalid"> please post a something for Akash</mat-error>
</mat-form-field>
<br margin=1rpx width=80%>
<button mat-raised-button
colors="primary"
type="submit">Save</button>
</form>
</mat-card>
